 body {
  margin: 0px;
  padding: 0px;
}

.container{
  width: 100vw;
  /*height: 100vh;*/
  margin: 0px;
  padding: 0px;
}

.row header {
  height: 6vh;
  background-color: #9fa3ad;

}

.col_left {
  height: 100vh;
  background-color: #f2f0ec;
}

.right_col {
  height: 100vh;
  background-image: url("resources/track.fw.png");
  opacity: 0.19;
  background-size: 100vh;
}

.row footer {
background-color: #9b8d85;
height: 8vh;

}

#imgCol {
  position: absolute;
  top: 5vh;
  right: 18vw;
}

#imgCol img {
  margin-top: 20px;
}

.col-track-bin {
  margin-top: 40vh;

}
.album_cover {
  height: 180px;
  width: 200px;
  /*width: auto;;
  height: auto;;
  margin: 10px 10px;
  z-index: 2;
  opacity: 1;*/
}

.select_track {
font-size: 2em;
height: 25vh;
background-color: blue;
}

.card {
  height: 94vh;
  width: 100vw;
  color: white;
}

.card-header {
  padding: 0px;
  height: 6vh;
  margin: 0px;
  background-color: #00ffbf;
  font: white;
  font-size: 22px;
}

.card-block {

  padding: 0px;
  margin: 0px;
  background-color: lightgray;
  overflow-x: scroll;
}

#carousel {
    padding: 20px 15px;
    width: 100%;
    margin-bottom: 10px;
    overflow: visible;
    white-space:nowrap;
}

#carousel .slide {
}

#carousel img {
  margin-right: 15px;
  height: 200px;
  width: 140px;
  display: inline-block;
}
.card-title {
  padding: 0px;
  /*position: relative;*/

}

.card-footer {
  margin: 0px;
  height: 8vh;
  background-color: #00ffbf;
  font-size: 17px;
  color: white;
}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0.5s
}

.col-md-8.col-bttn {
  padding: 10px 0;


}
