css file
.container-fluid {
  font-family: Avenir, Avenir;
  border: 1px solid black;
  width: 100vw;

}

.row {
  margin: 0px;
  padding: 0;
  width: 100vw;
}
#splash-header {
  background-color: #9a9b84;
  border: 0px solid black;
  margin: 0px;
  height: 8vh;
  width: 100vw;

}

#splash-footer {
  background-color: #9a9b84;
  border: 3px solid;
  margin: 0px;
  color: white;
  height: 12vh;
}

.col-borderRt  {
  height: 80vh;
  background-image: url('resources/track.jpg');
  z-index: 1;
  background-position: center;
  background-size: 500px;
  background-repeat: repeat-y;
  opacity: 0.19;
  filter: alpha(opacity=50);
}


#track_bin {
   align-items: center;
   font-size: 42px;
   color: purple;
}

.col-borderLft  {
   height: 80vh;
}


.btn-default {
  position: 0px;
  background-color: #4CAF50;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


.btn-default:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn-default:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn-default:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0.5s
}


.select_track {
font-size: 2em;
height: 25vh;

}

.card {
  height: 94vh;
  width: 100vw;
  color: white;
}

.card-header {
  padding: 0px;
  height: 6vh;
  margin: 0px;
  background-color: rgb(154, 156,	139);
  font: white;
  font-size: 22px;
}

.card-block {

  padding: 0px;
  margin: 0px;
  background-color: rgb(255,255,255);
  overflow-x: scroll;
}

#carousel {
    padding: 20px 15px;
    width: 100%;
    margin-bottom: 10px;
    overflow: visible;
    white-space:nowrap;
}

#carousel .slide {
}

#carousel img {
  margin-right: 15px;
  height: 200px;
  width: 140px;
  display: inline-block;
}

.card-title {
  padding: 0px;
  position: relative;

}

.card-footer {
  margin: 0px;
  height: 8vh;
  background-color: rgb(154, 156, 139);
  font-size: 17px;
  color: white;
}


.col-md-8.col-bttn {
  padding: 10px 0;


}
